@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --ff-Roboto: "Poppins", sans-serif;

  --clr-green: hsl(170, 100%, 39%);
  --clr-dark-blue: hsl(224, 42%, 12%);
  --clr-soft-white: hsl(240, 50%, 99%);
  --clr-grey: hsl(0, 0%, 75%);
  --clr-warning: hsl(43, 100%, 56%);
  --clr-error: hsl(0, 100%, 40%);

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-Roboto);
  color: var(--clr-soft-white);
  background-color: var(--clr-green);
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input {
  font-family: inherit;
}

a {
  color: var(--clr-green);
  text-decoration: none;
  font-weight: var(--fw-500);
}

a:hover,
a:focus {
  opacity: 0.6;
}

main {
  width: 100%;
  padding-inline: 1rem;
}

/* Toast */
.toast-wrapper {
  width: min(100%, 450px);
  margin-inline: auto;
  margin-bottom: 1rem;
}

.toast {
  padding: 1rem;
  background-color: var(--clr-soft-white);
  border-radius: 7px;
  color: var(--clr-dark-blue);
  display: grid;
  grid-template-columns: 1.3fr 6fr 0.5fr;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.toast p {
  margin: 0;
}

.warning {
  border-left: 8px solid var(--clr-warning);
}

.container-1 i {
  font-size: 2.2rem;
  color: var(--clr-warning);
}

.container-1,
.container-2 {
  align-self: center;
}

.container-2 p:first-child {
  font-size: 1rem;
  color: #101020;
  font-weight: var(--fw-600);
}

.container-2 p:last-child {
  font-size: 0.8rem;
  color: #656565;
  font-weight: var(--fw-400);
}

.toast button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: var(--fw-600);
  line-height: 0;
  color: #656565;
  align-self: flex-start;
  background-color: transparent;
  border: none;
}

/* Form */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.form-card {
  background-color: transparent;
  perspective: 1000px;
}

.form-card-inner {
  display: grid;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 0.625rem;
}

.form-card.active .form-card-inner {
  transform: rotateY(180deg);
}

.form-card-front {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.form-card-front,
.form-card-back {
  grid-area: 1/1;
  border-radius: 0.625rem;
  padding: 1rem 1.5rem;
  backface-visibility: hidden;
  background-color: var(--clr-dark-blue);
}

.form-card-front h1,
.form-card-back h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-field {
  position: relative;
  height: 100%;
}

.form-card-front .form-field:nth-child(2) {
  margin-block: 1.5rem 0.3125rem;
}

.form-card-back .form-field:nth-child(2) {
  margin-block: 1.5rem;
}

::placeholder {
  letter-spacing: 1px;
}

.form-field input {
  width: 100%;
  background: transparent;
  padding: 0.625rem 0.625rem 0.625rem 2.25rem;
  font-size: 1rem;
  color: var(--clr-soft-white);
  border: 1px solid var(--clr-soft-white);
  border-radius: 3px;
}

.form-field input:focus {
  outline: 0;
  border: 2px solid var(--clr-soft-white);
}

.form-field.invalid input {
  border: 2px solid var(--clr-error);
  animation: errorShake 0.5s;
}

.icon-identifiers {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-visibility {
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 12px;
}

.icon-visibility i {
  font-size: 1.125rem;
  color: var(--clr-grey);
}

.help {
  display: none;
  text-align: start;
}

.forgot-password {
  display: block;
  text-align: start;
  width: max-content;
}

.form-field.invalid .help {
  display: block;
  color: var(--clr-error);
  margin-top: 0.3125rem;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: var(--fw-600);
}

input[type="submit"] {
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: var(--fw-500);
  margin-top: 2rem;
  padding: 0.625rem;
  background-color: var(--clr-green);
  color: var(--clr-soft-white);
  border: none;
  border-radius: 0.3125rem;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.6;
}

.sign-up-now,
.login-now {
  display: block;
  text-align: center;
}

.form-card-back {
  transform: rotateY(180deg);
}

@keyframes errorShake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
